<form>
  <h2 mat-dialog-title>邀请组员</h2>
  <div>
    <mat-form-field class="full-width">
      <input type="text" matInput [matAutocomplete]="autoMembers" placeholder="组员姓名">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" (click)="onClick()">保存</button>
    <button type="button" mat-dialog-close mat-button>关闭</button>
  </div>
</form>

<mat-autocomplete #autoMembers="matAutocomplete" [displayWith]="displayUser">
  <mat-option *ngFor="let item of items" [value]="item">
    {{item.name}}
  </mat-option>
</mat-autocomplete>
